<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAom1YUyrCqCI1zuP7X-eO9-V5pX3CIrgs</string>
	<key>BUNDLE_ID</key>
	<string>com.IniciativasElebi.AfrikaNaOne</string>
	<key>DATABASE_URL</key>
	<string>https://afrikanaone-default-rtdb.firebaseio.com</string>
	<key>GCM_SENDER_ID</key>
	<string>964624085160</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:964624085160:ios:bd1e1aca1562a7768dd29d</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>afrikanaone</string>
	<key>STORAGE_BUCKET</key>
	<string>afrikanaone.firebasestorage.app</string>
</dict>
</plist>
